* {
  box-sizing: border-box;
}

body {
  user-select: none;
  margin: 0;
  background-color: #998c61;
  min-height: 100vh;
  height: 100vh;
  background-size: cover;
}

.box-items .item {
  display: grid;
  grid-template-columns: 60px auto;
  align-items: center;
  background-color: rgb(240, 85, 38);
  margin: 15px 0;
  text-align: left;
}

.box-items .item img {
  width: 100%;
  height: 100%;
}

.box-items .item p {
  font-size: 1.2rem;
  height: 100%;
  font-weight: 800;
  color: #f0f0f0;
  position: relative;
  vertical-align: middle;
}

span.overlay {
  position: absolute;
  background: #a8a8b68f;
  padding: 0 10px;
  height: 100%;
  display: grid;
  place-items: center;
}

#root {
  height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  width: 300px;
  margin: auto;
  text-align: center;
  padding: 1rem;
  background: #f0f0f0;
  box-shadow: -2px 3px 28px 9px #000000;
}

.vote-container img {
  width: 100%;
  height: 100%;
}

.vote-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.vote-container button {
  cursor: pointer;
  width: 100px;
  padding: 0;
  position: relative;
}

.vote-container button span {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 45px;
  transform: translate(-50%, -50%);
  z-index: 2 !important;
}

button.voted {
  cursor: not-allowed;
  pointer-events: none;
}

button.voted img {
  opacity: 0.5;
  z-index: 1;
}
